---
BasedOnStyle: LLVM
IndentWidth: 4
IndentAccessModifiers: false
ColumnLimit: 0

---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
Cpp11BracedListStyle: false
BreakBeforeBinaryOperators: NonAssignment
IndentCaseLabels: true
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  SplitEmptyFunction: true

BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
InsertBraces: true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
PackConstructorInitializers: CurrentLine
